.rhap_button-clear {
    color: #d4d4d4 !important;
    overflow: unset !important;
}
.rhap_button-clear span {
    max-height: 130% !important;
}

.rhap_container {
    position: fixed !important;
    z-index: 9999 !important;
    bottom: 0px !important;
    left: 0px !important;
    min-width: 100px !important;
    min-height: 100px !important;
    width: 300px !important;
    background: none !important;
    border-radius: 10px !important;
    box-shadow: none !important
}

.rhap_progress-section {
    flex: 2 1 auto !important
}