.text {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 900px;
  background: linear-gradient(#38434ba6, #38434ba6),
    url("/plasmic/akyllers/images/_198XStory1Png2Jpeg.jpeg") top 50% left 50% / cover repeat;
  box-shadow: 0px 4px 16px 0px #00000033;
  position: relative;
  min-width: 0;
  border-radius: 6px;
  padding: 140px 8px;
}
.text > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.text > :global(.__wab_flex-container) > *,
.text > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.text > :global(.__wab_flex-container) > picture > img,
.text > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 30px;
}
.textcolor1 {
  background: linear-gradient(#13583096, #13583096),
    url("/plasmic/akyllers/images/_198XStory1Png2Jpeg.jpeg") top 50% left 50% / cover repeat;
}
.textc2 {
  background: #281170;
}
.textc3 {
  background: #8b86bb;
}
.textc4 {
  background: #343434;
}
.textv5 {
  background: #4c243a;
}
.text:hover {
  transform: scaleX(1.1) scaleY(1.1) scaleZ(1);
}
.img__oQa6 {
  width: 100px;
  max-width: 100%;
  position: relative;
  object-fit: cover;
  flex-shrink: 0;
}
.img__oQa6 > picture > img {
  object-fit: cover;
}
.img__oQa6 > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: center;
  display: flex;
  flex-direction: row;
}
.freeBoxcolor1 {
  display: flex;
}
.slotTargetChildren {
  color: #ffffff;
}
.img__o2RdF {
  width: 100px;
  max-width: 100%;
  position: relative;
  object-fit: cover;
  flex-shrink: 0;
}
.img__o2RdF > picture > img {
  object-fit: cover;
}
.img__o2RdF > .__wab_img-spacer > img {
  object-fit: cover;
}
