.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
}
.img {
  position: relative;
  object-fit: contain;
  max-width: 100%;
}
.img > picture > img {
  object-fit: contain;
}
.img > .__wab_img-spacer > img {
  object-fit: contain;
}
.freeBox {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
