.root {
  flex-direction: column;
  position: relative;
  background: none;
  width: 100%;
  height: 100%;
  display: flex;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  background: url("/plasmic/akyllers/images/_198XStory1Png2Jpeg.jpeg") top 50% left 50% / cover repeat;
  min-height: 600px;
  min-width: 0;
  padding: 20px 24px 96px;
}
.navbarCustom:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  margin-bottom: 20px;
}
.restOfSite {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 20px 24px 96px;
}
.quote {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  min-width: 0;
  padding: 16px;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 600px;
  background: #0e213a;
  border-radius: 15px;
  padding: 50px 30px;
}
.text__jbCp1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  color: #ffffff;
  min-width: 0;
}
.banners {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  margin-top: 50px;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  min-width: 0;
  padding: 8px;
}
.text__w278X {
  position: relative;
  width: auto;
  height: auto;
  color: #ffffff;
  background: #464646;
  text-align: center;
  align-self: center;
  border-radius: 8px;
  padding: 10px 20px;
}
.h1__jWcku {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: center;
  color: #3f3f3f;
  font-size: 36px;
  text-align: center;
  margin-top: 20px;
}
.mmBoxQuote__cyCrP:global(.__wab_instance) {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}
.mmBoxQuote___71Bvt:global(.__wab_instance) {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}
.mmBoxQuote__hkcup:global(.__wab_instance) {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}
.mmBoxQuote__iTpHm:global(.__wab_instance) {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}
.newArtDiv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1000px;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  min-width: 0;
  padding: 8px;
}
.h1__qCaNh {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: flex-start;
  color: #3f3f3f;
  font-size: 36px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 0px;
}
.artStack {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 50px;
  min-width: 0;
}
.artStack > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.artStack > :global(.__wab_flex-container) > *,
.artStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.artStack > :global(.__wab_flex-container) > picture > img,
.artStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .artStack > :global(.__wab_flex-container) {
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: calc(0px - 15px);
    height: calc(100% + 15px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .artStack > :global(.__wab_flex-container) > *,
  .artStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .artStack > :global(.__wab_flex-container) > picture > img,
  .artStack
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 15px;
  }
}
.newArt:global(.__wab_instance) {
  position: relative;
}
.text__suJhn {
  height: auto;
}
.newArtDiv2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: center;
  margin-top: 40px;
  background: #e0ded6;
  margin-bottom: 40px;
  box-shadow: 0px 4px 16px 0px #00000033;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  min-width: 0;
  border-radius: 6px;
  padding: 50px 8px 60px;
}
.h1__z6ZI1 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: center;
  color: #3f3f3f;
  font-size: 36px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
}
.text__u2Qx2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  align-self: center;
  min-width: 0;
}
.readButton:global(.__wab_instance) {
  position: relative;
  align-self: center;
  margin-top: 30px;
}
.trueFooter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 90px;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
}
