.text {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 900px;
  background: url("/plasmic/akyllers/images/_1Png.png") top 50% left 50% / cover repeat;
  box-shadow: 0px 4px 16px 0px #00000033;
  position: relative;
  min-height: 400px;
  min-width: 0;
  border-radius: 6px;
  padding: 8px;
}
.text > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.text > :global(.__wab_flex-container) > *,
.text > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.text > :global(.__wab_flex-container) > picture > img,
.text > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text {
    background: url("/plasmic/akyllers/images/_1Png.png") top 50% left 50% / cover no-repeat;
    min-height: 400px;
  }
}
.textcolor1 {
  background: url("/plasmic/akyllers/images/_2Png.png") top 50% left 50% / cover repeat;
}
.textc2 {
  background: url("/plasmic/akyllers/images/_3Png.png") top 50% left 50% / cover repeat;
}
.textc3 {
  background: url("/plasmic/akyllers/images/_4Png.png") top 50% left 50% / cover repeat;
}
.textc4 {
  background: url("/plasmic/akyllers/images/_5Png.png") top 50% left 50% / cover repeat;
}
.textv5 {
  background: url("/plasmic/akyllers/images/_6Png.png") top 50% left 50% / cover repeat;
}
.textunnamedVariant {
  background: url("/plasmic/akyllers/images/_7Png.png") top 50% left 50% / cover repeat;
}
.textunnamedVariant2 {
  background: url("/plasmic/akyllers/images/_8Png.png") top 50% left 50% / cover repeat;
}
.text:hover {
  transform: scaleX(1.1) scaleY(1.1) scaleZ(1);
}
.freeBox {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: none;
}
.freeBoxcolor1 {
  display: flex;
}
.slotTargetChildren {
  color: #ffffff;
  font-family: "American Sporty";
  font-size: 48px;
  text-align: center;
}
