.root {
  display: flex;
  width: 100%;
  cursor: pointer;
  position: relative;
  min-width: 0;
}
.darkFooterBox2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  max-width: 100%;
  background: url("/plasmic/akyllers/images/emojis9Minpng.png") top 50% left 1% / contain no-repeat,
    #28272c;
  cursor: pointer;
  min-width: 0;
  border-radius: 7px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .darkFooterBox2 {
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
  }
}
.root:hover .darkFooterBox2 {
  background: url("/plasmic/akyllers/images/emojis9Minpng.png") top 50% left 1% / contain no-repeat,
    #4b32ab;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  top: auto;
  z-index: 1;
  left: auto;
  text-align: right;
  padding-right: 2em;
  font-weight: 500;
  font-size: 2em;
  color: #ffffff;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text {
    padding-right: 0em;
  }
}
