@import url("https://fonts.googleapis.com/css2?family=DM+Mono%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500&family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_default_styles {
  --mixin-boGT6gi53q3k_font-family: "DM Mono";
  --mixin-boGT6gi53q3k_font-size: 12px;
  --mixin-boGT6gi53q3k_font-weight: 400;
  --mixin-boGT6gi53q3k_font-style: normal;
  --mixin-boGT6gi53q3k_color: #535353;
  --mixin-boGT6gi53q3k_text-align: left;
  --mixin-boGT6gi53q3k_text-transform: none;
  --mixin-boGT6gi53q3k_line-height: 1.5;
  --mixin-boGT6gi53q3k_letter-spacing: normal;
  --mixin-boGT6gi53q3k_white-space: pre-wrap;
  --mixin-boGT6gi53q3k_user-select: text;
  --mixin-boGT6gi53q3k_text-decoration-line: none;
  --mixin-boGT6gi53q3k_text-overflow: clip;
  --mixin-ImXZmKLA4Jlk_color: #000000;
  --mixin-ImXZmKLA4Jlk_font-weight: 900;
  --mixin-ImXZmKLA4Jlk_font-size: 72px;
  --mixin-ImXZmKLA4Jlk_line-height: 1;
  --mixin-ImXZmKLA4Jlk_letter-spacing: -4px;
  --mixin-jPoXBbs41DIr_font-family: "Inter";
  --mixin-jPoXBbs41DIr_color: #000000;
  --mixin-jPoXBbs41DIr_font-size: 48px;
  --mixin-jPoXBbs41DIr_font-weight: 700;
  --mixin-jPoXBbs41DIr_letter-spacing: -1px;
  --mixin-jPoXBbs41DIr_line-height: 1.1;
  --mixin-LjXCbRFjV4GF_color: #0070f3;
  --mixin-5DvBA63W5VVM_font-family: "Inter";
  --mixin-5DvBA63W5VVM_color: #000000;
  --mixin-5DvBA63W5VVM_font-size: 32px;
  --mixin-5DvBA63W5VVM_font-weight: 600;
  --mixin-5DvBA63W5VVM_letter-spacing: -0.8px;
  --mixin-5DvBA63W5VVM_line-height: 1.2;
  --mixin-nO2qRhILI_1L_font-family: "Inter";
  --mixin-nO2qRhILI_1L_color: #000000;
  --mixin-nO2qRhILI_1L_font-size: 24px;
  --mixin-nO2qRhILI_1L_font-weight: 600;
  --mixin-nO2qRhILI_1L_letter-spacing: -0.5px;
  --mixin-nO2qRhILI_1L_line-height: 1.3;
  --mixin-Kb0vYAiJ_kO8_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Kb0vYAiJ_kO8_border-bottom-color: #dddddd;
  --mixin-Kb0vYAiJ_kO8_border-bottom-style: solid;
  --mixin-Kb0vYAiJ_kO8_border-bottom-width: 1px;
  --mixin-Kb0vYAiJ_kO8_border-left-color: #dddddd;
  --mixin-Kb0vYAiJ_kO8_border-left-style: solid;
  --mixin-Kb0vYAiJ_kO8_border-left-width: 1px;
  --mixin-Kb0vYAiJ_kO8_border-right-color: #dddddd;
  --mixin-Kb0vYAiJ_kO8_border-right-style: solid;
  --mixin-Kb0vYAiJ_kO8_border-right-width: 1px;
  --mixin-Kb0vYAiJ_kO8_border-top-color: #dddddd;
  --mixin-Kb0vYAiJ_kO8_border-top-style: solid;
  --mixin-Kb0vYAiJ_kO8_border-top-width: 1px;
  --mixin-Kb0vYAiJ_kO8_border-bottom-left-radius: 3px;
  --mixin-Kb0vYAiJ_kO8_border-bottom-right-radius: 3px;
  --mixin-Kb0vYAiJ_kO8_border-top-left-radius: 3px;
  --mixin-Kb0vYAiJ_kO8_border-top-right-radius: 3px;
  --mixin-Kb0vYAiJ_kO8_font-family: "Inconsolata";
  --mixin-Kb0vYAiJ_kO8_padding-bottom: 1px;
  --mixin-Kb0vYAiJ_kO8_padding-left: 4px;
  --mixin-Kb0vYAiJ_kO8_padding-right: 4px;
  --mixin-Kb0vYAiJ_kO8_padding-top: 1px;
  --mixin-vsJCL6Cvsysm_border-left-color: #dddddd;
  --mixin-vsJCL6Cvsysm_border-left-style: solid;
  --mixin-vsJCL6Cvsysm_border-left-width: 3px;
  --mixin-vsJCL6Cvsysm_color: #888888;
  --mixin-vsJCL6Cvsysm_padding-left: 10px;
  --mixin-YMnMC217O-Dl_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-YMnMC217O-Dl_border-bottom-color: #dddddd;
  --mixin-YMnMC217O-Dl_border-bottom-style: solid;
  --mixin-YMnMC217O-Dl_border-bottom-width: 1px;
  --mixin-YMnMC217O-Dl_border-left-color: #dddddd;
  --mixin-YMnMC217O-Dl_border-left-style: solid;
  --mixin-YMnMC217O-Dl_border-left-width: 1px;
  --mixin-YMnMC217O-Dl_border-right-color: #dddddd;
  --mixin-YMnMC217O-Dl_border-right-style: solid;
  --mixin-YMnMC217O-Dl_border-right-width: 1px;
  --mixin-YMnMC217O-Dl_border-top-color: #dddddd;
  --mixin-YMnMC217O-Dl_border-top-style: solid;
  --mixin-YMnMC217O-Dl_border-top-width: 1px;
  --mixin-YMnMC217O-Dl_border-bottom-left-radius: 3px;
  --mixin-YMnMC217O-Dl_border-bottom-right-radius: 3px;
  --mixin-YMnMC217O-Dl_border-top-left-radius: 3px;
  --mixin-YMnMC217O-Dl_border-top-right-radius: 3px;
  --mixin-YMnMC217O-Dl_font-family: "Inconsolata";
  --mixin-YMnMC217O-Dl_padding-bottom: 3px;
  --mixin-YMnMC217O-Dl_padding-left: 6px;
  --mixin-YMnMC217O-Dl_padding-right: 6px;
  --mixin-YMnMC217O-Dl_padding-top: 3px;
  --mixin-PUk4IBU1NZFw_display: flex;
  --mixin-PUk4IBU1NZFw_flex-direction: column;
  --mixin-PUk4IBU1NZFw_align-items: stretch;
  --mixin-PUk4IBU1NZFw_justify-content: flex-start;
  --mixin-PUk4IBU1NZFw_list-style-position: outside;
  --mixin-PUk4IBU1NZFw_padding-left: 40px;
  --mixin-PUk4IBU1NZFw_position: relative;
  --mixin-PUk4IBU1NZFw_list-style-type: disc;
  --mixin-4nnuLjX7EF5R_display: flex;
  --mixin-4nnuLjX7EF5R_flex-direction: column;
  --mixin-4nnuLjX7EF5R_align-items: stretch;
  --mixin-4nnuLjX7EF5R_justify-content: flex-start;
  --mixin-4nnuLjX7EF5R_list-style-position: outside;
  --mixin-4nnuLjX7EF5R_padding-left: 40px;
  --mixin-4nnuLjX7EF5R_position: relative;
  --mixin-4nnuLjX7EF5R_list-style-type: decimal;
  --mixin-Tv2oAUNi7zpCx_font-family: "Inter";
  --mixin-Tv2oAUNi7zpCx_color: #000000;
  --mixin-Tv2oAUNi7zpCx_font-size: 20px;
  --mixin-Tv2oAUNi7zpCx_font-weight: 600;
  --mixin-Tv2oAUNi7zpCx_letter-spacing: -0.3px;
  --mixin-Tv2oAUNi7zpCx_line-height: 1.5;
  --mixin-WMQO-Hu6l3ln3_font-family: "Inter";
  --mixin-WMQO-Hu6l3ln3_color: #000000;
  --mixin-WMQO-Hu6l3ln3_font-size: 16px;
  --mixin-WMQO-Hu6l3ln3_font-weight: 600;
  --mixin-WMQO-Hu6l3ln3_line-height: 1.5;
  --mixin-5YctVsUdZTa6O_color: #3291ff;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_rich_text *),
:where(.__wab_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_rich_text img),
:where(.__wab_text img) {
}

:where(.li) {
  display: list-item;
}
:where(.__wab_rich_text li),
:where(.__wab_text li) {
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_rich_text span),
:where(.__wab_text span) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_rich_text input),
:where(.__wab_text input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_rich_text textarea),
:where(.__wab_text textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_rich_text button),
:where(.__wab_text button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_rich_text code),
:where(.__wab_text code) {
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_rich_text pre),
:where(.__wab_text pre) {
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_rich_text p),
:where(.__wab_text p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h1),
:where(.__wab_text h1) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h2),
:where(.__wab_text h2) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h3),
:where(.__wab_text h3) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h4),
:where(.__wab_text h4) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h5),
:where(.__wab_text h5) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h6),
:where(.__wab_text h6) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_rich_text address),
:where(.__wab_text address) {
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_rich_text a),
:where(.__wab_text a) {
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_rich_text ol),
:where(.__wab_text ol) {
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_rich_text ul),
:where(.__wab_text ul) {
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_rich_text select),
:where(.__wab_text select) {
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-boGT6gi53q3k_font-family);
  font-size: var(--mixin-boGT6gi53q3k_font-size);
  font-weight: var(--mixin-boGT6gi53q3k_font-weight);
  font-style: var(--mixin-boGT6gi53q3k_font-style);
  color: var(--mixin-boGT6gi53q3k_color);
  text-align: var(--mixin-boGT6gi53q3k_text-align);
  text-transform: var(--mixin-boGT6gi53q3k_text-transform);
  line-height: var(--mixin-boGT6gi53q3k_line-height);
  letter-spacing: var(--mixin-boGT6gi53q3k_letter-spacing);
  white-space: var(--mixin-boGT6gi53q3k_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset .__wab_text h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-ImXZmKLA4Jlk_color);
  font-weight: var(--mixin-ImXZmKLA4Jlk_font-weight);
  font-size: var(--mixin-ImXZmKLA4Jlk_font-size);
  line-height: var(--mixin-ImXZmKLA4Jlk_line-height);
  letter-spacing: var(--mixin-ImXZmKLA4Jlk_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset .__wab_text h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-jPoXBbs41DIr_font-family);
  color: var(--mixin-jPoXBbs41DIr_color);
  font-size: var(--mixin-jPoXBbs41DIr_font-size);
  font-weight: var(--mixin-jPoXBbs41DIr_font-weight);
  letter-spacing: var(--mixin-jPoXBbs41DIr_letter-spacing);
  line-height: var(--mixin-jPoXBbs41DIr_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset .__wab_text a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-LjXCbRFjV4GF_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset .__wab_text h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-5DvBA63W5VVM_font-family);
  color: var(--mixin-5DvBA63W5VVM_color);
  font-size: var(--mixin-5DvBA63W5VVM_font-size);
  font-weight: var(--mixin-5DvBA63W5VVM_font-weight);
  letter-spacing: var(--mixin-5DvBA63W5VVM_letter-spacing);
  line-height: var(--mixin-5DvBA63W5VVM_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset .__wab_text h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-nO2qRhILI_1L_font-family);
  color: var(--mixin-nO2qRhILI_1L_color);
  font-size: var(--mixin-nO2qRhILI_1L_font-size);
  font-weight: var(--mixin-nO2qRhILI_1L_font-weight);
  letter-spacing: var(--mixin-nO2qRhILI_1L_letter-spacing);
  line-height: var(--mixin-nO2qRhILI_1L_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset .__wab_text code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-Kb0vYAiJ_kO8_background);
  font-family: var(--mixin-Kb0vYAiJ_kO8_font-family);
  border-radius: var(--mixin-Kb0vYAiJ_kO8_border-top-left-radius)
    var(--mixin-Kb0vYAiJ_kO8_border-top-right-radius)
    var(--mixin-Kb0vYAiJ_kO8_border-bottom-right-radius)
    var(--mixin-Kb0vYAiJ_kO8_border-bottom-left-radius);
  padding: var(--mixin-Kb0vYAiJ_kO8_padding-top)
    var(--mixin-Kb0vYAiJ_kO8_padding-right)
    var(--mixin-Kb0vYAiJ_kO8_padding-bottom)
    var(--mixin-Kb0vYAiJ_kO8_padding-left);
  border-top: var(--mixin-Kb0vYAiJ_kO8_border-top-width)
    var(--mixin-Kb0vYAiJ_kO8_border-top-style)
    var(--mixin-Kb0vYAiJ_kO8_border-top-color);
  border-right: var(--mixin-Kb0vYAiJ_kO8_border-right-width)
    var(--mixin-Kb0vYAiJ_kO8_border-right-style)
    var(--mixin-Kb0vYAiJ_kO8_border-right-color);
  border-bottom: var(--mixin-Kb0vYAiJ_kO8_border-bottom-width)
    var(--mixin-Kb0vYAiJ_kO8_border-bottom-style)
    var(--mixin-Kb0vYAiJ_kO8_border-bottom-color);
  border-left: var(--mixin-Kb0vYAiJ_kO8_border-left-width)
    var(--mixin-Kb0vYAiJ_kO8_border-left-style)
    var(--mixin-Kb0vYAiJ_kO8_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset .__wab_text blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-vsJCL6Cvsysm_color);
  padding-left: var(--mixin-vsJCL6Cvsysm_padding-left);
  border-left: var(--mixin-vsJCL6Cvsysm_border-left-width)
    var(--mixin-vsJCL6Cvsysm_border-left-style)
    var(--mixin-vsJCL6Cvsysm_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset .__wab_text pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-YMnMC217O-Dl_background);
  font-family: var(--mixin-YMnMC217O-Dl_font-family);
  border-radius: var(--mixin-YMnMC217O-Dl_border-top-left-radius)
    var(--mixin-YMnMC217O-Dl_border-top-right-radius)
    var(--mixin-YMnMC217O-Dl_border-bottom-right-radius)
    var(--mixin-YMnMC217O-Dl_border-bottom-left-radius);
  padding: var(--mixin-YMnMC217O-Dl_padding-top)
    var(--mixin-YMnMC217O-Dl_padding-right)
    var(--mixin-YMnMC217O-Dl_padding-bottom)
    var(--mixin-YMnMC217O-Dl_padding-left);
  border-top: var(--mixin-YMnMC217O-Dl_border-top-width)
    var(--mixin-YMnMC217O-Dl_border-top-style)
    var(--mixin-YMnMC217O-Dl_border-top-color);
  border-right: var(--mixin-YMnMC217O-Dl_border-right-width)
    var(--mixin-YMnMC217O-Dl_border-right-style)
    var(--mixin-YMnMC217O-Dl_border-right-color);
  border-bottom: var(--mixin-YMnMC217O-Dl_border-bottom-width)
    var(--mixin-YMnMC217O-Dl_border-bottom-style)
    var(--mixin-YMnMC217O-Dl_border-bottom-color);
  border-left: var(--mixin-YMnMC217O-Dl_border-left-width)
    var(--mixin-YMnMC217O-Dl_border-left-style)
    var(--mixin-YMnMC217O-Dl_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset .__wab_text ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-PUk4IBU1NZFw_display);
  flex-direction: var(--mixin-PUk4IBU1NZFw_flex-direction);
  align-items: var(--mixin-PUk4IBU1NZFw_align-items);
  justify-content: var(--mixin-PUk4IBU1NZFw_justify-content);
  list-style-position: var(--mixin-PUk4IBU1NZFw_list-style-position);
  padding-left: var(--mixin-PUk4IBU1NZFw_padding-left);
  position: var(--mixin-PUk4IBU1NZFw_position);
  list-style-type: var(--mixin-PUk4IBU1NZFw_list-style-type);
  flex-column-gap: var(--mixin-PUk4IBU1NZFw_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset .__wab_text ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-4nnuLjX7EF5R_display);
  flex-direction: var(--mixin-4nnuLjX7EF5R_flex-direction);
  align-items: var(--mixin-4nnuLjX7EF5R_align-items);
  justify-content: var(--mixin-4nnuLjX7EF5R_justify-content);
  list-style-position: var(--mixin-4nnuLjX7EF5R_list-style-position);
  padding-left: var(--mixin-4nnuLjX7EF5R_padding-left);
  position: var(--mixin-4nnuLjX7EF5R_position);
  list-style-type: var(--mixin-4nnuLjX7EF5R_list-style-type);
  flex-column-gap: var(--mixin-4nnuLjX7EF5R_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset .__wab_text h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-Tv2oAUNi7zpCx_font-family);
  color: var(--mixin-Tv2oAUNi7zpCx_color);
  font-size: var(--mixin-Tv2oAUNi7zpCx_font-size);
  font-weight: var(--mixin-Tv2oAUNi7zpCx_font-weight);
  letter-spacing: var(--mixin-Tv2oAUNi7zpCx_letter-spacing);
  line-height: var(--mixin-Tv2oAUNi7zpCx_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset .__wab_text h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-WMQO-Hu6l3ln3_font-family);
  color: var(--mixin-WMQO-Hu6l3ln3_color);
  font-size: var(--mixin-WMQO-Hu6l3ln3_font-size);
  font-weight: var(--mixin-WMQO-Hu6l3ln3_font-weight);
  line-height: var(--mixin-WMQO-Hu6l3ln3_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset .__wab_text a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-5YctVsUdZTa6O_color);
}
