.root {
  flex-direction: column;
  position: relative;
  background: none;
  width: 100%;
  height: 100%;
  display: flex;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  background: url("/plasmic/akyllers/images/forum2Png.png") top 50% left 50% / cover repeat;
  min-height: 600px;
  min-width: 0;
  padding: 20px 24px 96px;
}
.navbarCustom:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  margin-bottom: 20px;
}
.restOfSite {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1200px;
  min-width: 0;
  padding: 20px 24px 96px;
}
.quote {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  min-width: 0;
  padding: 16px;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 600px;
  background: #0e213a;
  border-radius: 15px;
  padding: 50px 30px;
}
.text__jbCp1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  color: #ffffff;
  min-width: 0;
}
.song {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  min-width: 0;
  padding: 16px;
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 40px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 40px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 40px) * 12 / 12);
  }
}
.column__eAuqq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.htmlVideo:global(.__wab_instance) {
  width: 640px;
  height: hug;
  max-width: 100%;
  position: relative;
}
.column__bqKl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h1__rghkH {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: flex-start;
  color: #3f3f3f;
  font-size: 36px;
  text-align: center;
  margin-top: 20px;
}
.text__piHA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  align-self: flex-start;
  min-width: 0;
}
.banners {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  margin-top: 50px;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  min-width: 0;
  padding: 8px;
}
.text__w278X {
  position: relative;
  width: auto;
  height: auto;
  color: #ffffff;
  background: #464646;
  text-align: center;
  align-self: center;
  border-radius: 8px;
  padding: 10px 20px;
}
.h1__jWcku {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: center;
  color: #3f3f3f;
  font-size: 36px;
  text-align: center;
  margin-top: 20px;
}
.img__rfegK {
  position: relative;
  object-fit: contain;
  max-width: 1000px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.img__rfegK > picture > img {
  object-fit: contain;
}
.img__rfegK > .__wab_img-spacer > img {
  object-fit: contain;
}
.img__w7La {
  position: relative;
  object-fit: contain;
  max-width: 1000px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.img__w7La > picture > img {
  object-fit: contain;
}
.img__w7La > .__wab_img-spacer > img {
  object-fit: contain;
}
.img__doiie {
  position: relative;
  object-fit: contain;
  max-width: 1000px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.img__doiie > picture > img {
  object-fit: contain;
}
.img__doiie > .__wab_img-spacer > img {
  object-fit: contain;
}
.img__am7Sc {
  position: relative;
  object-fit: contain;
  max-width: 1000px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.img__am7Sc > picture > img {
  object-fit: contain;
}
.img__am7Sc > .__wab_img-spacer > img {
  object-fit: contain;
}
.img__uczZo {
  position: relative;
  object-fit: contain;
  max-width: 1000px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.img__uczZo > picture > img {
  object-fit: contain;
}
.img__uczZo > .__wab_img-spacer > img {
  object-fit: contain;
}
.img__cUobG {
  position: relative;
  object-fit: contain;
  max-width: 1000px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.img__cUobG > picture > img {
  object-fit: contain;
}
.img__cUobG > .__wab_img-spacer > img {
  object-fit: contain;
}
.img__lQ8RP {
  position: relative;
  object-fit: contain;
  max-width: 1000px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.img__lQ8RP > picture > img {
  object-fit: contain;
}
.img__lQ8RP > .__wab_img-spacer > img {
  object-fit: contain;
}
.img__ouN9T {
  position: relative;
  object-fit: contain;
  max-width: 1000px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.img__ouN9T > picture > img {
  object-fit: contain;
}
.img__ouN9T > .__wab_img-spacer > img {
  object-fit: contain;
}
.newArtDiv {
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1000px;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  min-width: 0;
  display: none;
  padding: 8px;
}
.h1__qCaNh {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: flex-start;
  color: #3f3f3f;
  font-size: 36px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 0px;
}
.artStack {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 50px;
  min-width: 0;
}
.artStack > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.artStack > :global(.__wab_flex-container) > *,
.artStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.artStack > :global(.__wab_flex-container) > picture > img,
.artStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .artStack > :global(.__wab_flex-container) {
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: calc(0px - 15px);
    height: calc(100% + 15px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .artStack > :global(.__wab_flex-container) > *,
  .artStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .artStack > :global(.__wab_flex-container) > picture > img,
  .artStack
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 15px;
  }
}
.newArt:global(.__wab_instance) {
  position: relative;
}
.text__suJhn {
  height: auto;
}
.newArtDiv2 {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: center;
  margin-top: 40px;
  background: #e0ded6;
  margin-bottom: 40px;
  box-shadow: 0px 4px 16px 0px #00000033;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  min-width: 0;
  display: none;
  border-radius: 6px;
  padding: 50px 8px 60px;
}
.h1__z6ZI1 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  align-self: center;
  color: #3f3f3f;
  font-size: 36px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
}
.text__u2Qx2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  align-self: center;
  min-width: 0;
}
.readButton:global(.__wab_instance) {
  position: relative;
  align-self: center;
  margin-top: 30px;
}
.trueFooter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 90px;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
}
